# dependencies
/node_modules

# next.js build output
/.next
/out

# typescript
*.tsbuildinfo

# logs
*.log
npm-debug.log*
snapshot.log

# env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# python (scripts/ local helpers)
__pycache__/
*.pyc

.vercel
